* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeaea;
}

header, footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}

header {
    font-size: 1.5rem;
}

main {
    margin: 0 auto;
    width: 700px;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

picture {
    display: block;
    margin-bottom: 30px;
}

img {
    width: 675px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
    box-shadow: 3px 5px 8px gray;
    border: 10px solid white;
}

section {
background-color: #d9d9d9;
margin: 0 0 30px 0;
padding: 30px;
line-height: 1.5rem;
}

section p {
    margin-bottom: 5px;
}

section h2 {
    margin-bottom: 15px;
    border-bottom:  1px solid #333;
    padding-bottom: 10px;
}

section ul {
    margin-left: 20px;
}